<%- include('partials/header'); -%>


<div class="side-bar">
    <a class="site-title" href="/">ToDo App</a>
    <div class="main-list-container">
        <% todos.forEach((todos)=>{ %>
                <form action="/removeList" class="list-container" method="POST">
                    <a href="/list/<%= todos._id %>"><%= todos.title %></a>
                    <button type="submit" name="removeList" value="<%= todos._id %>" class="deletebtn">🗑️</button>
                </form>
        <% }) %>
    </div>
    

    <form action="/addNewList" class="new-list-container" method="POST">
        <input type="text" class="new-list-input" maxlength="30" name="newList" autocomplete="off">
        <button type="submit">+</button>
    </form>
</div>



<div class="main-container">
    <div class="todo-container">
        <h2 class="list-title"><%= todostitle %></h2>
        <% todocontent.forEach((todo)=>{ %>
        <form action="/removeTodo" method="POST" class="todo">
            <label class="innertodo">
                <input type="checkbox" name="todo1" class="todo1" minlength="1" maxlength="50">
                <span class="checkmark"></span>        
                <span class="todo-text"><%= todo.name %></span>
                
                
            </label>
            <button class="deletebtn" type="submit" name="removeTodo" value="<%= todo._id %>">
                <input type="hidden" name="listID" value="<%= foundtodo._id %>"></input>🗑️
            </button> 
        </form>
        <% })%>
    </div>
    <form class="add-new-todo" action="/addNewTodo" method="POST">
        <input type="text" name="newItem" autocomplete="off" required="true">
        <button name="listTitle" value="<%= todoID %>">+</button>
    </form>
</div>


<%- include('partials/footer'); -%>
